!!!
html(ng-app='myApp')
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // Global Styles
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    block styles

    // My Libs
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js")
    script(type='text/javascript', src='/js/lib/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/js/lib/jquery.xml2json.js')
    script(type='text/javascript', src='/js/lib/d3.v3.min.js')
    script(type="text/javascript", src='/js/lib/jquery-ui.min.js')
    script(type='text/javascript', src='/js/lib/bootstrap.min.js')
    script(type="text/javascript", src='/js/lib/bootstrap-progressbar.min.js')
    
    // angular
    script(type='text/javascript', src='/js/angular/angularApp.js')
    script(type='text/javascript', src='/js/angular/services/dataFormattingService.js')
    script(type='text/javascript', src='/js/angular/services/nextBusService.js')
    script(type='text/javascript', src='/js/angular/controllers/indexController.js')
    script(type='text/javascript', src='/js/angular/directives/busMapDirective.js')

  body
    block body


    // A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")
