extends ../layout


block styles
    link(rel='stylesheet', href='/styles/index.css')

block body
    div(ng-controller='indexController')
        
        // Left side menu
        div#legendMenu.sidebar
            label Legend
            div#legend
                div(ng-repeat='route in selectedRoutes')
                    div
                        span.legendColor(style='background-color: {{ route.color }};') &nbsp;
                        span.legendKey {{ route.title }}

        img#loadingGif(src='/images/colorfulLoading.gif', ng-show='!isFinishedLoading')
        div(ng-show='isFinishedLoading')
            bus-map(route-data='routeData', selected-routes='selectedRoutes', selected-bus='selectedBus')

        // Currently Selected Bus Data
        div#busData 
            div(ng-show='selectedBus == undefined') 
                h1 Select a Bus
            div(ng-show='selectedBus != undefined')
                label(style='background-color: {{ routeData[selectedBus.routeTag].color }}')
                span Route: {{ selectedBus.routeTag }}
                span Heading Towards: {{ selectedBus.dirTag }}
                span Long, Lat: ({{selectedBus.lon }}, {{selectedBus.lat}})
                span Last Data: {{ add(selectedBus.secsSinceReport, secondsSinceLastRequest) }}s

        // Right side Menu
        div#routeSelectionMenu.sidebar
            label Route Selection
            select.form-control(ng-model='selectedRoutes', ng-options='route.title for (routeTag, route) in routeData', multiple)

