html {
	background-color: #f7f7f7
}

#busData {
	position: absolute;
	left: 18.5%;
	top: 8%;

	background-color: white;
	width: 64.1%;
	height: 7%;
}

#busData div{
	position: absolute;
	height:100%;
	width: 100%;
	border: 1px solid;
}

#busData div label {
	height: 40%;
	display: block;
}

#busData div h1 {
	text-align: center;
}

#busData span {
	float: left;
	font-size: 150%;
	padding-left: 5%;
}


#routeSelectionMenu {
	left:   85%;
}

#routeSelectionMenu select {
	height:100%;
}

#legendMenu {
	left: 3%;
}

#legend {
	background-color: #e5e5e5;
	overflow: auto;
	height: 100%;
	width: 100%;
	top: 10%;
}

.legendColor {
	float: left;
	width: 13%;
}

.legendKey {
	width: 75%;
	float: left;
	padding-bottom: 3px;
	padding-left: 10px;
}


.sidebar {
	position: absolute;
	height: 75%;
	top: 10%;
	width: 13%;

}




#loadingGif {
	position: absolute;
	left: 50%;
	top: 35%;
	width: 5%;
}


.busMap {
	position: absolute;
	left: 18.5%;
	top:  15%;

	height: 75%;
	width: 64.1%;

	background-color: #fff9ed;
	border: 1px solid;
}